/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/* ==========================================================================
  1. BASE
    1.1 page rendering defaults
    1.2 user experience adjustments
   2. LAYOUT
    2.1 core layout
    2.2 main nav mobile first
    2.3 small only
    2.4 medium and up
      2.4.1 medium and up main navugation
    2.5 medium only
    2.6 large screens and up
    2.7 large only
    2.4 core articles
  3. MODULES
    3.1 page-slider
    3.2 project portfolio item
  4. STATES
  5. THEME
    5.1 main nav colours & icons
  6. UTILITIES
  6. PRINT

   ========================================================================== */

html {
  color: #222;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

img {
  width: 100%;
}

h1 {
  color: #000;
}

/* ==========================================================================
  LAYOUTS
   ========================================================================== */


/*temporary to see whats going on*/

div,
section,
footer,
header{
  /*border: 1px solid #ccc;*/
}
.row{
  display: grid;
  row-gap: 1rem;
}

column{
 /* background-color:rgb(255, 255, 255);
  margin: 1rem*/
}

.heading {
  text-align: center;
  font-family: ubunto, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}
.tagline{
  margin-top: -0.8rem;
  font-size: 0.7rem;
  text-align: center;
  color: rgb(128, 128, 128)
}
.logo{
  max-height: 2.5rem ;
}

/* page slider*/
.page__slider{
  background-color: rgb(230,230,230) ;
}
.page__slider img{
  height: 25vh;
}
.logo{
  max-height: 2.5rem;
  max-width: 7.5rem;
  position:absolute;
 

}
/* main nav mobile first*/
.main-nav{
  display: none;
  flex-direction: column;
  align-items: center;
}
.main-nav__item {
  display: block;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: left;
  color: black;
  line-height: 4rem;
  background-repeat: no-repeat;
}
.main-nav__item::after {
  content: ">";
  display: inline-block;
  position: absolute;
  right: 1rem;
}
.main-nav__item.active::after {
  content:"";
}



/* basewidth for row, how the largest version goes at size and margins*/


/* Small only-> mobile cellphone */
@media screen and (max-width: 39.9375em) {
.logo{
  max-height: 3rem;
  position: static;
}
.s-hide{
  display: none;
}
.mobile-nav{
  background-image: url(../img/hamburger.svg);
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: center center;
  position: absolute;
  right: 1rem;
  top: 0rem;
  z-index: 0rem;
  font-size: 0rem;
  padding: 1.5rem;
}
.main-nav__item::after {
  display: inline-block;
  position: static;
  padding-left: 1rem;
}
.headerpic1{
  display: none;
}
}

/* Medium and up -> Tablet*/
@media screen and (min-width: 40em) {
  .row {
    width: 85vw;
    max-width: 70rem;
    margin: 0 auto;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 0 auto 3rem auto;
  }
  .m-col-2{
    grid-template-columns: 1fr 1fr;
  }
  .m-col-3{
    grid-template-columns:  repeat(3, 1fr);
  }
  .m-col-4{
    grid-template-columns:  repeat(4, 1fr);
  }
  .m-col-5{
    grid-template-columns:  repeat(5, 1fr);

  }
  .m-1-2{
    grid-template-columns: 1fr 2fr;
  }
  .row.span{
    grid-column-start:1;
    grid-column-end: -1;
  }
  .main-nav{
    display: flex;
    flex-direction: row;
  }
  .main-nav__item{
    padding: 4rem 1rem 0rem 0.5;
    line-height:2rem;
    font-size:0.8rem;
    text-align: left;
    background-color: rgb(184, 184, 184);
    background-repeat: no-repeat;
    background-position-x:center ;
    background-position-y:center;
    background-size: 2.3rem 1.4rem;
  }

}




/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .m-hide{
    display: none;
  }
}

/* Large and up -> beyond tablet!!*/
@media screen and (min-width: 64em) {
  .l-hide{
    display: none;
  }
  .l-col-2{
    grid-template-columns: 1fr 1fr;
  }
  .l-col-3{
    grid-template-columns: repeat(3, 1fr);
  }
  .l-col-4{
    grid-template-columns:  repeat(4, 1fr);
  }
  .l-col-5{
    grid-template-columns: repeat(5, 1fr);
  }
  
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}

/* ==========================================================================
   MODULES
   ========================================================================== */
  .page__slider{
    background-color: rgb(230, 230, 230);
  }
  .page--slider img{
    height: 25vh;
  }

/* ==========================================================================
THEME
   ========================================================================== */
.page__footer{
  background-color: #222;
}
.inverted{
  color: white;
}
/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}
.main-nav__item:nth-child(1){

}
.main-nav__item:nth-child(2){
  
}
.main-nav__item:nth-child(3){
  
}
.main-nav__item:nth-child(4){
  
}
.main-nav__item:nth-child(5){
  
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/* main
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

